/* reset.css */

/* Box sizing border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul[class],
ol[class] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove text decoration */
a {
  text-decoration: none;
}

/* Remove focus outline for non-keyboard users */
a:focus:not(:focus-visible) {
  outline: 0;
}

/* Remove blue highlight */
a,
button,
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
}